.home{
 background-color: transparent;
 border-radius: 10px;
 height: 16vh;
 width: 16vh;
 margin:6% 6%;
 border: 2px solid black;
 padding: 0;
}
 figcaption{
  margin-top: 80px;
  margin-left: -10px;
  height: 40px;
  width: 100px;
  margin-top: 2vh;
  margin-left: -6.5vh;
  font-size: 15px;
  padding: 2px;
} 

img{

  width: 14vh;
  height: 14vh;
  border-radius: 10px;
  margin-top: -1.8vh;
  margin-left: -5.5vh;
}

input{
  height: 25px;
  border: 2px solid grey;
  border-radius: 5px;
}
td{
  padding-top: 30px;
}