.home{
 background-color: transparent;
 border-radius: 10px;
 height: 16vh;
 width: 16vh;
 margin:6% 6%;
 border: 2px solid black;
 padding: 0;
}
 figcaption{
  margin-top: 80px;
  margin-left: -10px;
  height: 40px;
  width: 100px;
  margin-top: 2vh;
  margin-left: -6.5vh;
  font-size: 15px;
  padding: 2px;
} 

img{

  width: 14vh;
  height: 14vh;
  border-radius: 10px;
}

input{
  height: 25px;
  border: 2px solid grey;
  border-radius: 5px;
}

input:hover{
  border: 2px solid skyblue;
}



td{
  padding-top: 30px;
}
figure{
padding: 0;
margin: 0;
}
figcaption{
  padding-top: 0px;
  margin:0;
  margin-top: 10px;
  width: auto;
  height: auto;
}
select{
  background-color: white;
}

.redstar{
  color:red;
  font-weight: bolder;
}


.redborder{
  float:right;
  margin-top:-10px;
  padding:5px;
  margin-right:-10px;
  background-Color:red;
  border:2px solid red;
  border-radius:50px;
  padding:7px;
  width:20;
  text-align:center;
  height:25;
  color:black;
  font-Weight:lighter;
  font-size: 15px;
}
.redborder:hover{
  background-color: red;
  color:white;
  border:2px solid black;
  font-weight: bold;
}

.addbutton{
  margin-left:50%; 
  margin-Top:5%;
  border:2px solid rgb(3, 178, 247);
  border-radius:50px;
  padding:5px 10px;
  background:rgb(3, 178, 247);
  color:black;
  font-Size:40px;
  font-weight: lighter;
}

.addbutton:hover{
  color:white;
  border:2px solid black;
  font-weight: bold;
}

.form{
  font-family:Comic Sans;
  font-size: 15px;
}

.preview{
  font-family: Garamond;
}

.crossbutton{
  height:25px;
  position:relative;
  left:-25px;
  top:4px;
  background-Color:transparent;
  border:0;
  font-size: 20px;
}

.crossbutton:hover{
  color:red;
  font-weight: bold;
}

.AddButton{
  margin-top:20px;
  margin-left:50%;
  height:30px;
  width:50px;
  background-color:white;
  border: 2px solid green;
  border-radius:50px;
}

.AddButton:hover{
  background-color: green;
  color:white;
  font-weight:bolder;
}
.htable{
  color: black;
}
.htable:hover{
  color: red;
  border: 2px solid skyblue;
  font-weight: bold;
  font-size: 20px;
}

.gtable{
  color:black;
}
.gtable:hover{
  color:green;
  font-weight: bold;
  font-size: 25px;
}

@media print{
  button{
    display: none;
  }
}

@